In [60]:
import pandas as pd
from IPython.display import display

In [61]:
ufo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
display(ufo_df)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [62]:
pd.to_datetime(ufo_df['Time']).dt.year.mode()

0    1999
Name: Time, dtype: int64

In [63]:
pd.to_datetime(ufo_df['Time']).dt.date.diff()

0            NaT
1        29 days
2       230 days
3       106 days
4       687 days
          ...
18236     0 days
18237     0 days
18238     0 days
18239     0 days
18240     0 days
Name: Time, Length: 18241, dtype: timedelta64[ns]

In [64]:
ufo_df[ufo_df['State']=='NV']['Time']

76        7/15/1947 10:00
172       2/17/1952 18:00
565        9/15/1959 0:00
566        9/15/1959 1:00
613        7/1/1960 12:00
               ...
17447     9/16/2000 22:00
17567     9/30/2000 22:25
17617     10/6/2000 20:25
17890      11/7/2000 2:15
18104    12/10/2000 17:30
Name: Time, Length: 284, dtype: object

In [69]:
pd.to_datetime(ufo_df[ufo_df['State']=='NV']['Time']).dt.date.diff().mean()

Timedelta('68 days 22:18:13.992932862')