In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('wine_cleared.csv')

In [53]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [54]:
df['points'].min()

80

In [55]:
df['price'].min()

4.0

In [56]:
import statistics

In [57]:
statistics.mean(df['price'])

35.363389129985535

In [58]:
df['price'].mean()

35.363389129985535

In [59]:
statistics.median(df['price'])

28.0

In [60]:
list(df['price'].sort_values())[int((len(list(df['price'].sort_values()))-1)/2)]

28.0

In [61]:
statistics.mode(df['price'])

35.363389129985535

In [62]:
import numpy as np

In [63]:
prce = np.array(df['price'])
prce = map(lambda x: np.float32(x),prce)
my_dict = dict()
for i in prce:
    for j in prce:
        if j not in my_dict:
            my_dict[j]=1
        if i == j:
            my_dict[j]+=1

In [64]:
my_tuple = my_dict.items()
my_tuple = list(my_tuple)

In [65]:
my_tuple = map(lambda x: list(x), my_tuple)
a = list(my_tuple)
for i in a:
    i[0],i[1]=i[1],i[0]

In [66]:
df.corr()

ValueError: could not convert string to float: 'Italy'